* {
font-family: 'Cagliostro', sans-serif;
}

.App {
  background-color: #0b0e13;
  display: flex;
}

@media screen and (max-width: 360px) {
  .App {
    height: 650px;
  }
}

@media screen and (min-width: 375px) {
  .App {
    height: 667px;
  }
}

@media screen and (min-width: 390px) {
  .App {
    height: 800px;
  }
}

@media screen and (min-width: 414px) {
  .App {
    height: 900px;
  }
}

@media screen and (min-width: 500px) {
  .App {
    height: 730px;
  }
}

@media screen and (min-width: 600px) {
  .App {
    height: 1000px;
  }
}

@media screen and (min-width: 800px) {
  .App {
    height: 1200px;
  }
}

@media screen and (min-width: 1000px) {
  .App {
    height: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .App {
    height: 640px;
  }
}

@media screen and (min-width: 1250px) {
  .App {
    height: 640px;
  }
}